.order-list{
    background-color: yellow;
}
.impar{
    text-transform:uppercase;
}
.par{
    color: green;
}
.fonte{
    color: red;
}
.italic{
    font-size: 40px;
    border: 1px solid black;
}
li{
    font-size: 40px;
}
em{
    font-weight:bold;
}
.linguagem{
    color: blue;
}
.java{
    color: pink;
}